{% extends 'base.html' %}

{% block content %}
<h2>Task List</h2>

<form method="GET" class="form-inline mb-3">
    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control ml-2">
            <option value="">All</option>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group ml-3">
        <input type="text" name="search" class="form-control" placeholder="Search by title" value="{{ request.GET.search }}">
    </div>
    <button type="submit" class="btn btn-primary ml-3">Filter</button>
</form>

<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
        <p>{{ task.category.name }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}

